*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: white;
}

nav{
    min-height: 70px;
    background-color: transparent !important;
    background: transparent !important;
}

nav ul li{
    padding-left: 15px;
    font-weight: bold;
}

.card-product a{
    color: black;
}

.card-product a:hover{
    text-decoration-line: none;
}

.card-product a:hover .card img{
    transform: scale(1.04);
    transition: 0.4s ease;
    opacity: 0.8;
}

.card-product a:hover .card h5{
    color: blue;
    opacity: 0.8;
}

.list-group-item a{
    color: black;
}

.list-group-item a:hover{
    opacity: 0.8;
    text-decoration-line: none;
    font-weight: bold;
}

.list-group-item .active{
    opacity: 0.8;
    text-decoration-line: none;
    font-weight: bold;
}

.jumbotron{
    background-image: url('image/background-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    color: white;
}

.wrapper-top h2{
    font-weight: bold;
    font-size: 2rem;
}

.wrapper-top h2,h4{
    padding-bottom: 10px;
}

.card{
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

.card-img{
    background-position: center;
    background-size: cover;
}


.navbar-brand h3{
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

.footer-wrapper a{
    color: #000000a6;
    font-weight: bold;
}

.footer-wrapper a:hover{
    color: black;
    opacity: 0.8;
    font-weight: bold;
}

.footer-wrapper h4{
    font-weight: bolder;
}

footer{
    height: 300px;
    max-height: 100%;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    padding-top: 10px;
}

.breadcrumb{
    background: transparent;
    padding-left: 0;
}

.breadcrumb a{
    font-weight: bold;
}

.breadcrumb a:hover{
    text-decoration-line: none;
}



